.userControlOuter {
    position: sticky;
    top: 70px;
    z-index: 1;
    background-color: rgb(var(--bg-header) / .8);
    backdrop-filter: blur(8px);
}

.userControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    transition: border-bottom 0.3s ease;
}

.userControlScroll {
    border-bottom: 1px solid rgb(var(--border-herder));
}

.userControlButton {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
    padding: .375rem;
    border-radius: 5px;
    transition: background 0.2s;
}

.userControlSelectAll {
    background: rgb(var(--card-background));
    border: 1px solid rgb(var(--border));
    font-size: 14px;
    padding: 5px 10px;
    color: var(--text-color);
    position: relative;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 5px;
}

.userControlSelectAllCheckbox {
    font-size: 16px;
}
